<!DOCTYPE html>
<html>
<body>

<h2>New_Author</h2>

<form>
  <label for="fname">full Name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="gender">Gender:</label><br>
  <input type="text" id="gender" name="gender" value=""><br><br>
  <label for="birth">Birth:</label><br>
  <input type="number" id="birth" name="birth" value=""><br>
  <label for="gender">Death:</label><br>
  <input type="number" id="death" name="death" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to server :-)</p>



</body>
</html>
